<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    
<form action="/registro" method="post">
    <label for= "nombre"> NOMBRE  </label>
        <input type="text" name="usuario"> 
    
    <br>

    <label for= "date"> FECHA  </label>
        <input type="date" name="fecha">
    
    
    <br>

    <label for= "email">EMAIL </label>
        <input type="email" name="email">
    

    <br>
  <label> </label>

      <input type="radio" name="" value="">
      <input type="radio" name="" value="">
  

  <br>
  
  <label> </label>
      <input type="checkbox" name="" value="">
      <input type="checkbox" name="" value="">
      <input type="checkbox" name="" value="">
      <input type="checkbox" name="" value="">
      <input type="checkbox" name="" value="">
  
  
  <br> 

    <label> </label>
        <input type="file" name="" accept=""<>
    
    <br>

    <label> </label>
        <input type="password" name="">
 

    <br>

    <label>
        <input type="password" name="">
    </label>

    <br>

    <button type="borrar">Borrar</button>
    
   <br>

    <button type="submit">Enviar</button>


</form>

</body>
</html>