<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Mercadoliebre</title>
    <link rel= "stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" href="NOMBREICONO" type="image/x-icon">
    <title>Mercado liebre</title>
</head>
    <body>
        <header>
            <img src="/images/logo-mercado-liebre.svg" alt = "Mercadoliebre">
            <div class="input"> 
                <input type="text" value="Busqueda del producto">
                <button class="boton"><i class="fas fa-search"></i></button>
            
            </div>
            <p class="busqueda">
                <i class="fas fa-hand-holding-usd"></i>  Compra en cuotas y sin tarjeta de crédito
            </p>
            
        <nav class ="navegacion">
            <ul class = "nav">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <br>
            <ul class="navs">
                <li><a href="">Crea tu cuenta  <i class="far fa-id-card"></i> </a></li>
                <li><a href="">Ingresá  <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="ultimo"><a href="">Mis compras <i class= "fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="barramenu"><i class="fas fa-bars"></i></div>
        </header>
        <section class ="banner">
            <img src="/images/img-home-banner.jpg" alt="banner" class= "banner">
        </section>
        <main>
            <section  >
                <h3>Basado en tu última búsqueda</h3>
                
                <article class= "camion">
                    
                    <div>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <img src="/images/img-cafetera-moulinex.jpg" class= "imagen">    
                    <p>PRECIO</p>
                    <p>TIENE DESCUENTO</p>
                    <h4>DESCRIPCION</h4>
                    </div>
                </article>
                <article class="camion">
                    <div> 
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <img src="/images/img-macbook-pro-2019.jpg" class= "imagen">
                        <p>PRECIO</p>
                        <p>NO TIENE DESCUENTO</p>
                        <h4>DESCRIPCION</h4>
                    </div>
                </article>
                <article class="camion">
                    <div> 
                    <i class="fa fa-truck" aria-hidden="true"></i>   
                        <img src="/images/img-samsung-galaxy-s10.jpg" class= "imagen">
                        <p>PRECIO</p>
                        <p>TIENE DESCUENTO</p>
                        <h4>DESCRIPCION</h4>
                    </div>    
                </article>
                <article class="camion">
                    <div> 
                        <i class="fa fa-truck" aria-hidden="true"></i>
                        <img src="/images/img-tv-samsung-smart.jpg" class= "imagen">
                        <p>PRECIO</p>
                        <p>TIENE DESCUENTO</p>
                        <h4>DESCRIPCION</h4>
                    </div>
                    </article>
            </section>
    
        </main>
    
    
    <footer>
        <article class="articulo-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="articulo-footer">
            <i class="fas fa-gift"></i>
            <h4>Envio gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="articulo-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article class="articulo-footer">
        <br>
        <p class="copyright">Copyright © 1999-2021 mercadoLiebre S.R.L.</p>
    </footer>
    
    
    </body>
    
    </html>