*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ebebeb;
}


header   {
        background-color:  #EAC926;
    }

    header nav ul a {
        color: black;
    }

    header p {
        text-align: center;
    }

    .boton { font-size:20px;
        transition: border-radius,200ms;
    }

    .boton:hover {
        border-radius: 50%;
    }


    .fa-bars {
        font-size: 25px;
        margin-bottom: 10px;;
    }
      
    .busqueda {
        margin-bottom: 10px;
    }
    .navegacion {
        margin-left: 10px
    }


    h3 {
        color: rgb(94, 91, 91); 
        text-align: center;
    }

    .camion {
        position: relative;
    }

    .fa-truck {
        position: absolute;
        bottom: 50px;
        right: 20px;
        font-size: 20px;
        color: white;
        background-color:rgb(94, 91, 91);
        border-radius: 50%;
        padding: 10px;
        transition: border-radius 200ms ;
    }

    .fa-truck:hover {
            border-radius: 0%;
        }


    

@media (min-width:460px){



}

@media (min-width:425px){
.barramenu{
   
    display: none;
}

.fa-search {
    color: chartreuse;
}

body {
    background-color: crimson;
}


}

@media (min-width:768px){
.boton {display: none;}
}

    .banner {
        margin-top: 5px;
    }    

    button {
        border-radius: 8px;
        margin: auto;
    }
    
    .fa-search{
        background-color:white;
        border-radius: 5px;
        padding: 5px;
        ;
    }

    div{ 
        text-align: center;
        }

    .fa-bars{
    background-color:  #03264C;
    padding: 5px;
    border-radius: 5px;
    }

    .banner {
        width: 100%;
    }

    .imagen {
        width: 100%;
    }


    main {
        margin: auto;
        width: 90%;
    }

    article {
        margin-top: 10px;
    }